In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

# Queue Data 



Queue Theory: https://en.wikipedia.org/wiki/Queueing_theory 

Examples:
- Waiting time in banks
- Lines in Walmart
- Amazon Orders

In [2]:
# Read in Data
Dec2021_df = pd.read_csv("../data/Dec2021.csv")

Dec2021_df.head()

,ID,ArrivalDate,ServiceDate,DepartureDate
0,235392959173863530111756933455078215237,2021-12-01 08:30:03.142411620,2021-12-01 08:32:01.330095240,2021-12-01 08:44:07.814904120
1,64326533532200255395016525602529058896,2021-12-01 08:31:07.760291340,2021-12-01 08:31:38.121426840,2021-12-01 08:49:27.539433480
2,114525398345555710902609725511699024054,2021-12-01 08:32:37.467678000,2021-12-01 08:33:49.021929780,2021-12-01 08:33:52.478631180
3,76227396327296191769664879284725787926,2021-12-01 08:34:06.275632680,2021-12-01 08:34:27.181560900,2021-12-01 08:34:31.922284500
4,49563438426655624051382460696663507823,2021-12-01 08:34:11.668938480,2021-12-01 08:34:17.025195300,2021-12-01 08:40:50.772451140

In [3]:
# Read in Data
Jan2022_df = pd.read_csv("../data/Jan2022.csv")
Jan2022_df.head()

,ID,ArrivalDate,ServiceDate,DepartureDate
0,738530328493554947610670104377967173,2022-01-01 08:32:32.121095340,2022-01-01 08:32:00.294871381,2022-01-01 08:39:50.848357501
1,170708601888519227860818852793160007190,2022-01-01 08:33:01.777313280,2022-01-01 08:35:02.783959680,2022-01-01 08:53:53.489448420
2,66903984276409186233885424189285526275,2022-01-01 08:33:02.539119900,2022-01-01 08:32:21.278138100,2022-01-01 08:32:29.864592900
3,247484544026101393123795762628777205066,2022-01-01 08:33:12.861193920,2022-01-01 08:37:41.532846780,2022-01-01 08:47:23.373932700
4,181987299051616613577116268493942154025,2022-01-01 08:35:19.987346640,2022-01-01 08:37:56.836174080,2022-01-01 08:53:24.412837980

# Compute Service Times

# Plot Data

# Estimate Distribution